version: '3.8'

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: library_mssql
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=SuperSilneHeslo123!  # Toto pak změnit na silné heslo dle potřeby
      - MSSQL_PID=Express
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql

volumes:
  mssql_data: